# Import Dependencies

In [65]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 500)

# Read in Data

In [79]:
long_CS= pd.read_csv("resources\SEDA_geodist_long_CS_v21.csv")

In [80]:
long_gcs= pd.read_csv("resources\SEDA_geodist_long_GCS_v21.csv")

In [81]:
long_naep= pd.read_csv("resources\SEDA_geodist_long_NAEP_v21.csv")

In [82]:
long_state= pd.read_csv("resources\SEDA_geodist_long_State_v21.csv")

In [83]:
pool_cs= pd.read_csv("resources\SEDA_geodist_pool_CS_v21.csv")

In [84]:
poolsub_cs= pd.read_csv("resources\SEDA_geodist_poolsub_CS_v21.csv")

# Columns in the data

In [85]:
print(len(long_CS.columns))
print(len(long_gcs.columns))
print(len(long_naep.columns))
print(len(long_state.columns))
print(len(pool_cs.columns))
print(len(poolsub_cs.columns))

50
50
50
50
33
44

In [91]:
columns_df= pd.DataFrame({
    "long_CS": pd.Series(long_CS.columns),
    "long_gcs": pd.Series(long_gcs.columns),
    "long_naep": pd.Series(long_naep.columns),
    "long_state": pd.Series(long_state.columns),
    "pool_cs": pd.Series(pool_cs.columns),
    "poolsub_cs": pd.Series(poolsub_cs.columns)
})

In [92]:
columns_df

,long_CS,long_gcs,long_naep,long_state,pool_cs,poolsub_cs
0,leaidC,leaidC,leaidC,leaidC,leaidC,leaidC
1,leaname,leaname,leaname,leaname,leaname,leaname
2,fips,fips,fips,fips,fips,fips
3,stateabb,stateabb,stateabb,stateabb,stateabb,stateabb
4,grade,grade,grade,grade,subgroup,subgroup
5,year,year,year,year,gap_est,gap_est
6,subject,subject,subject,subject,tot_asmts,tot_asmts_ela
7,totgyb_all,totgyb_all,totgyb_all,totgyb_all,cellcount,tot_asmts_mth
8,mn_all,mn_all,mn_all,mn_all,mn_asmts,cellcount_ela
9,mn_all_se,mn_all_se,sd_all,mn_all_se,mn_avg_ol,cellcount_mth
10,sd_all,sd_all,mn_all_se,sd_all,mn_grd_ol,mn_asmts_ela
11,sd_all_se,sd_all_se,sd_all_se,sd_all_se,mn_mth_ol,mn_asmts_mth
12,totgyb_asn,totgyb_asn,totgyb_asn,totgyb_asn,mn_avg_eb,mn_avg_mth_ol
13,mn_asn,mn_asn,mn_asn,mn_asn,mn_grd_eb,mn_avg_ela_ol
14,mn_asn_se,mn_asn_se,sd_asn,mn_asn_se,mn_mth_eb,mn_grd_mth_ol
15,sd_asn,sd_asn,mn_asn_se,sd_asn,mn_avg_eb_se,mn_grd_ela_ol
16,sd_asn_se,sd_asn_se,sd_asn_se,sd_asn_se,mn_grd_eb_se,mn_avg_mth_eb
17,totgyb_blk,totgyb_blk,totgyb_blk,totgyb_blk,mn_mth_eb_se,mn_avg_ela_eb
18,mn_blk,mn_blk,mn_blk,mn_blk,mn_avg_ol_se,mn_grd_mth_eb
19,mn_blk_se,mn_blk_se,sd_blk,mn_blk_se,mn_grd_ol_se,mn_grd_ela_eb
20,sd_blk,sd_blk,mn_blk_se,sd_blk,mn_mth_ol_se,mn_avg_mth_eb_se
21,sd_blk_se,sd_blk_se,sd_blk_se,sd_blk_se,sd_avg_ol,mn_avg_ela_eb_se
22,totgyb_fem,totgyb_fem,totgyb_fem,totgyb_fem,sd_grd_ol,mn_grd_mth_eb_se
23,mn_fem,mn_fem,mn_fem,mn_fem,sd_mth_ol,mn_grd_ela_eb_se
24,mn_fem_se,mn_fem_se,sd_fem,mn_fem_se,sd_avg_eb,mn_avg_mth_ol_se
25,sd_fem,sd_fem,mn_fem_se,sd_fem,sd_grd_eb,mn_grd_mth_ol_se
26,sd_fem_se,sd_fem_se,sd_fem_se,sd_fem_se,sd_mth_eb,mn_avg_ela_ol_se
27,totgyb_hsp,totgyb_hsp,totgyb_hsp,totgyb_hsp,sd_avg_eb_se,mn_grd_ela_ol_se
28,mn_hsp,mn_hsp,mn_hsp,mn_hsp,sd_grd_eb_se,sd_avg_mth_ol
29,mn_hsp_se,mn_hsp_se,sd_hsp,mn_hsp_se,sd_mth_eb_se,sd_avg_ela_ol
30,sd_hsp,sd_hsp,mn_hsp_se,sd_hsp,sd_avg_ol_se,sd_grd_mth_ol
31,sd_hsp_se,sd_hsp_se,sd_hsp_se,sd_hsp_se,sd_grd_ol_se,sd_grd_ela_ol
32,totgyb_mal,totgyb_mal,totgyb_mal,totgyb_mal,sd_mth_ol_se,sd_avg_mth_eb
33,mn_mal,mn_mal,mn_mal,mn_mal,NaN,sd_avg_ela_eb
34,mn_mal_se,mn_mal_se,sd_mal,mn_mal_se,NaN,sd_grd_mth_eb
35,sd_mal,sd_mal,mn_mal_se,sd_mal,NaN,sd_grd_ela_eb
36,sd_mal_se,sd_mal_se,sd_mal_se,sd_mal_se,NaN,sd_avg_mth_eb_se
37,totgyb_wht,totgyb_wht,totgyb_wht,totgyb_wht,NaN,sd_avg_ela_eb_se
38,mn_wht,mn_wht,mn_wht,mn_wht,NaN,sd_grd_mth_eb_se
39,mn_wht_se,mn_wht_se,sd_wht,mn_wht_se,NaN,sd_grd_ela_eb_se
40,sd_wht,sd_wht,mn_wht_se,sd_wht,NaN,sd_avg_mth_ol_se
41,sd_wht_se,sd_wht_se,sd_wht_se,sd_wht_se,NaN,sd_grd_mth_ol_se
42,mn_wag,mn_wag,mn_wag,mn_wag,NaN,sd_avg_ela_ol_se
43,mn_wag_se,mn_wag_se,mn_wag_se,mn_wag_se,NaN,sd_grd_ela_ol_se
44,mn_wbg,mn_wbg,mn_wbg,mn_wbg,NaN,NaN
45,mn_wbg_se,mn_wbg_se,mn_wbg_se,mn_wbg_se,NaN,NaN
46,mn_whg,mn_whg,mn_whg,mn_whg,NaN,NaN
47,mn_whg_se,mn_whg_se,mn_whg_se,mn_whg_se,NaN,NaN
48,mn_mfg,mn_mfg,mn_mfg,mn_mfg,NaN,NaN
49,mn_mfg_se,mn_mfg_se,mn_mfg_se,mn_mfg_se,NaN,NaN

# Off with their heads!

In [101]:
long_CS.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
0,100002,Alabama Youth Services,1,AL,8,2009,ela,29.0,-1.569190,0.209354,0.931462,0.016600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,-1.631368,0.224605,0.948279,0.018422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,8,2009,math,36.0,-1.761643,0.206164,0.892374,0.021631,NaN,NaN,NaN,NaN,NaN,20.0,-1.986859,0.284851,0.823336,0.022021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-1.814169,0.223662,0.944506,0.024233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,29.0,-0.962804,0.203069,0.905344,0.020444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,-0.990942,0.211828,0.912120,0.021901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,27.0,-1.641117,0.223450,0.857457,0.018269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,-1.583394,0.238398,0.908649,0.020670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,33.0,-1.069076,0.190945,0.913058,0.014726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-1.134681,0.190324,0.908174,0.016259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
long_gcs.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
0,100002,Alabama Youth Services,1,AL,8,2009,ela,29.0,3.364652,0.618425,2.751515,0.049036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,3.180978,0.663477,2.801194,0.054420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,8,2009,math,36.0,2.138392,0.685979,2.969243,0.071975,NaN,NaN,NaN,NaN,NaN,20.0,1.389016,0.947799,2.739531,0.073273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,1.963618,0.744201,3.142704,0.080630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,29.0,5.155901,0.599859,2.674363,0.060393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,5.072781,0.625734,2.694380,0.064694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,27.0,2.539424,0.743498,2.853061,0.060789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,2.731487,0.793233,3.023397,0.068775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,33.0,4.841975,0.564046,2.697150,0.043501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,4.648181,0.562213,2.682725,0.048029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
long_naep.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,totgyb_all,mn_all,sd_all,mn_all_se,sd_all_se,totgyb_asn,mn_asn,sd_asn,mn_asn_se,sd_asn_se,totgyb_blk,mn_blk,sd_blk,mn_blk_se,sd_blk_se,totgyb_fem,mn_fem,sd_fem,mn_fem_se,sd_fem_se,totgyb_hsp,mn_hsp,sd_hsp,mn_hsp_se,sd_hsp_se,totgyb_mal,mn_mal,sd_mal,mn_mal_se,sd_mal_se,totgyb_wht,mn_wht,sd_wht,mn_wht_se,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
0,100002,Alabama Youth Services,1,AL,8,2009,ela,29.0,209.40759,32.880596,7.390182,0.585985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,207.21269,33.474255,7.928550,0.650314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,8,2009,math,36.0,217.34308,33.107059,7.648670,0.802523,NaN,NaN,NaN,NaN,NaN,20.0,208.98753,30.545776,10.567958,0.816991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,215.39435,35.041161,8.297847,0.899029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,29.0,230.81302,31.958628,7.168319,0.721690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,229.81973,32.197830,7.477520,0.773098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,27.0,221.81458,31.811636,8.290004,0.677796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,223.95609,33.710880,8.844554,0.766845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,33.0,227.06160,32.230938,6.740346,0.519832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,224.74576,32.058556,6.718442,0.573944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
long_state.head()

,leaidC,leaname,fips,stateabb,grade,year,subject,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
0,100002,Alabama Youth Services,1,AL,8,2009,ela,29.0,-1.168019,0.190559,0.920672,0.005181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,-1.225511,0.204771,0.935234,0.008267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,8,2009,math,36.0,-1.282802,0.190213,0.887760,0.005257,NaN,NaN,NaN,NaN,NaN,20.0,-1.496076,0.265494,0.825772,0.00961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-1.332543,0.207005,0.934875,0.009110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,8,2011,ela,29.0,-0.708781,0.188333,0.920245,0.005173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,-0.735563,0.196830,0.926287,0.008442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100002,Alabama Youth Services,1,AL,8,2011,math,27.0,-1.233343,0.215231,0.885889,0.005659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,-1.176524,0.230360,0.934023,0.009104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100002,Alabama Youth Services,1,AL,8,2012,ela,33.0,-0.804737,0.179870,0.928212,0.005347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-0.867299,0.179208,0.923844,0.008249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
pool_cs.head()

,leaidC,leaname,fips,stateabb,subgroup,gap_est,tot_asmts,cellcount,mn_asmts,mn_avg_ol,mn_grd_ol,mn_mth_ol,mn_avg_eb,mn_grd_eb,mn_mth_eb,mn_avg_eb_se,mn_grd_eb_se,mn_mth_eb_se,mn_avg_ol_se,mn_grd_ol_se,mn_mth_ol_se,sd_avg_ol,sd_grd_ol,sd_mth_ol,sd_avg_eb,sd_grd_eb,sd_mth_eb,sd_avg_eb_se,sd_grd_eb_se,sd_mth_eb_se,sd_avg_ol_se,sd_grd_ol_se,sd_mth_ol_se
0,100002,Alabama Youth Services,1,AL,all,0,185,6,30.833334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,blk,0,20,1,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,mal,0,176,6,29.333334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100005,Albertville City,1,AL,all,0,26185,82,319.329250,-0.280656,-0.061207,-0.116414,-0.280273,-0.058287,-0.112834,0.014924,0.011383,0.029116,0.014940,0.011783,0.029962,0.845352,-0.010274,-0.019646,0.845379,-0.008705,-0.021662,0.007639,0.005382,0.014190,0.007737,0.006004,0.015404
4,100005,Albertville City,1,AL,fem,0,11421,69,165.521740,-0.225336,-0.040484,-0.190132,-0.225179,-0.037043,-0.187486,0.016971,0.012768,0.032495,0.017021,0.013442,0.033580,0.768277,NaN,-0.020952,0.772706,NaN,-0.026816,0.010658,NaN,0.017749,0.011180,NaN,0.021319

In [106]:
poolsub_cs.head()

,leaidC,leaname,fips,stateabb,subgroup,gap_est,tot_asmts_ela,tot_asmts_mth,cellcount_ela,cellcount_mth,mn_asmts_ela,mn_asmts_mth,mn_avg_mth_ol,mn_avg_ela_ol,mn_grd_mth_ol,mn_grd_ela_ol,mn_avg_mth_eb,mn_avg_ela_eb,mn_grd_mth_eb,mn_grd_ela_eb,mn_avg_mth_eb_se,mn_avg_ela_eb_se,mn_grd_mth_eb_se,mn_grd_ela_eb_se,mn_avg_mth_ol_se,mn_grd_mth_ol_se,mn_avg_ela_ol_se,mn_grd_ela_ol_se,sd_avg_mth_ol,sd_avg_ela_ol,sd_grd_mth_ol,sd_grd_ela_ol,sd_avg_mth_eb,sd_avg_ela_eb,sd_grd_mth_eb,sd_grd_ela_eb,sd_avg_mth_eb_se,sd_avg_ela_eb_se,sd_grd_mth_eb_se,sd_grd_ela_eb_se,sd_avg_mth_ol_se,sd_grd_mth_ol_se,sd_avg_ela_ol_se,sd_grd_ela_ol_se
0,100002,Alabama Youth Services,1,AL,all,0,91.0,94.0,3.0,3.0,30.333334,31.333334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,Alabama Youth Services,1,AL,blk,0,NaN,20.0,NaN,1.0,NaN,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100002,Alabama Youth Services,1,AL,mal,0,86.0,90.0,3.0,3.0,28.666666,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100005,Albertville City,1,AL,all,0,12754.0,13431.0,40.0,42.0,318.850010,319.785710,-0.339745,-0.222717,-0.060150,-0.061749,-0.337170,-0.223722,-0.061004,-0.054038,0.020049,0.020477,0.014545,0.014061,0.020326,0.015804,0.020785,0.016567,0.846394,0.858098,-0.030082,NaN,0.842975,0.858925,-0.021912,NaN,0.010473,0.010814,0.00755,NaN,0.010886,0.008622,0.011319,NaN
4,100005,Albertville City,1,AL,fem,0,5621.0,5800.0,34.0,35.0,165.323530,165.714280,-0.323230,-0.129925,-0.032657,-0.048354,-0.319693,-0.132169,-0.036577,-0.034901,0.022668,0.023309,0.016292,0.015155,0.023162,0.018212,0.023779,0.018764,0.770740,0.775054,NaN,NaN,0.764392,0.785076,NaN,NaN,0.013753,0.014301,NaN,NaN,0.015154,NaN,0.016037,NaN

# Describe the datasets

In [94]:
desc_long_CS= long_CS.describe()
desc_long_gcs= long_gcs.describe()
desc_long_naep= long_naep.describe()
desc_long_state= long_state.describe()
desc_pool_cs= pool_cs.describe()
desc_poolsub_cs= poolsub_cs.describe()

In [95]:
desc_long_CS

,leaidC,fips,grade,year,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,825814.000000,825814.000000,825814.000000,825814.000000,85523.000000,85523.000000,85523.000000,85523.000000,85523.000000,183171.000000,183171.000000,183171.000000,183171.000000,183171.000000,684574.000000,684574.000000,684574.000000,684574.000000,684574.000000,222124.000000,222124.000000,222124.000000,222124.000000,222124.000000,695482.000000,695482.000000,695482.000000,695481.000000,695481.000000,733460.000000,733460.000000,733460.000000,733460.000000,733460.000000,84024.000000,84024.000000,164413.000000,164413.000000,196243.000000,196243.000000,658277.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,328.138101,0.045220,0.112220,0.876175,0.069390,122.689382,0.608329,0.190778,0.987328,0.084771,224.051460,-0.438864,0.132186,0.849140,0.065292,188.532721,0.120130,0.130864,0.855555,0.067869,252.636262,-0.278085,0.135376,0.860349,0.060350,194.725526,-0.005284,0.133679,0.899035,0.070950,187.101831,0.175584,0.122449,0.865864,0.072814,-0.220768,0.208535,0.597313,0.167170,0.461360,0.171250,-0.123905,0.182086
std,1.457768e+06,14.573536,1.694571,1.959203,1166.280140,0.400055,0.054619,0.121183,0.044821,483.938421,0.556105,0.085566,0.158555,0.077507,719.344149,0.326138,0.058851,0.110419,0.049079,621.838991,0.403455,0.055945,0.115374,0.049798,1028.612933,0.337970,0.061169,0.104867,0.047106,641.398663,0.420003,0.057255,0.124602,0.051434,343.758678,0.352210,0.054043,0.121514,0.048231,0.413746,0.086235,0.283890,0.063211,0.288484,0.064866,0.245448,0.074982
min,1.000020e+05,1.000000,3.000000,2009.000000,20.000000,-3.186861,0.010884,0.042187,0.007450,20.000000,-3.400659,0.015841,0.177361,0.011620,20.000000,-2.802191,0.015411,0.103305,0.009407,20.000000,-2.405667,0.014748,0.105092,0.007860,20.000000,-3.614296,0.015033,0.108809,0.008441,20.000000,-3.402114,0.014828,0.097344,0.008406,20.000000,-2.311475,0.017821,0.073921,0.007754,-3.534657,0.027087,-0.732104,0.024387,-1.300542,0.024097,-3.015474,0.020913
25%,1.809690e+06,18.000000,4.000000,2010.000000,55.000000,-0.205949,0.070441,0.807569,0.029866,29.000000,0.254931,0.131710,0.904609,0.029321,36.000000,-0.654225,0.083788,0.791534,0.021645,39.000000,-0.140214,0.087132,0.796186,0.018935,33.000000,-0.501679,0.084061,0.805260,0.020596,40.000000,-0.272802,0.088646,0.831936,0.020037,48.000000,-0.055318,0.080488,0.797136,0.024112,-0.469659,0.150712,0.414415,0.118164,0.272639,0.120955,-0.275129,0.123825
50%,2.930660e+06,29.000000,5.000000,2012.000000,119.000000,0.049993,0.099618,0.873354,0.066962,47.000000,0.610957,0.190276,0.975054,0.053963,72.000000,-0.444535,0.125113,0.844292,0.057352,74.000000,0.121420,0.122946,0.850554,0.065888,66.000000,-0.287218,0.131419,0.856493,0.044913,77.000000,-0.002623,0.124653,0.894642,0.069282,94.000000,0.167672,0.111236,0.860279,0.071799,-0.234257,0.206814,0.582891,0.166099,0.445352,0.170093,-0.120150,0.172847
75%,4.106300e+06,41.000000,7.000000,2013.000000,277.000000,0.300706,0.149012,0.940343,0.097356,97.000000,0.965965,0.235567,1.049185,0.121298,170.000000,-0.225432,0.177508,0.906163,0.096868,159.000000,0.379138,0.171063,0.911051,0.101516,177.000000,-0.059856,0.183575,0.912377,0.092593,165.000000,0.264134,0.175480,0.958037,0.105297,198.000000,0.400014,0.160010,0.926429,0.102897,0.010506,0.251811,0.762919,0.212231,0.636042,0.216630,0.031581,0.237248
max,5.606240e+06,56.000000,8.000000,2015.000000,76800.000000,3.804560,1.841295,4.186017,1.416418,12214.000000,4.290233,2.123441,3.989972,1.861681,22678.000000,1.476525,1.171951,2.570137,1.111087,37799.000000,3.931363,1.691966,3.085215,1.206432,38791.000000,2.637444,1.112494,3.984328,1.169694,39001.000000,3.008096,1.630688,5.264157,1.747604,11961.000000,3.893091,2.029929,3.830692,1.672288,3.670907,2.130670,3.913644,1.320550,4.076381,1.328091,1.739556,1.715452

In [96]:
desc_long_gcs

,leaidC,fips,grade,year,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,825814.000000,825814.000000,825814.000000,825814.000000,85523.000000,85523.000000,85523.000000,85523.000000,85523.000000,183171.000000,183171.000000,183171.000000,183171.000000,183171.000000,684574.000000,684574.000000,684574.000000,684574.000000,684574.000000,222124.000000,222124.000000,222124.000000,222124.000000,222124.000000,695482.000000,695482.000000,695482.000000,695481.000000,695481.000000,733460.000000,733460.000000,733460.000000,733460.000000,733460.000000,84024.000000,84024.000000,164413.000000,164413.000000,196243.000000,196243.000000,658277.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,328.138101,5.565391,0.336394,2.628670,0.208084,122.689382,7.200015,0.569769,2.953043,0.252941,224.051460,4.132336,0.396487,2.546893,0.195934,188.532721,5.806853,0.392497,2.566808,0.203577,252.636262,4.514001,0.405153,2.573891,0.180558,194.725526,5.415384,0.400722,2.696429,0.212663,187.101831,5.971452,0.367094,2.598756,0.218360,-0.653809,0.622840,1.789347,0.501186,1.383374,0.512351,-0.385084,0.545958
std,1.457768e+06,14.573536,1.694571,1.959203,1166.280140,1.988355,0.165724,0.413478,0.135414,483.938421,2.442277,0.256700,0.515028,0.231137,719.344149,1.788857,0.179498,0.376843,0.148733,621.838991,2.037545,0.170557,0.394003,0.150433,1028.612933,1.878731,0.186536,0.367392,0.142266,641.398663,1.994379,0.174010,0.419559,0.154989,343.758678,1.905880,0.164000,0.413967,0.145419,1.241652,0.258649,0.860145,0.192970,0.877132,0.198207,0.740737,0.228411
min,1.000020e+05,1.000000,3.000000,2009.000000,20.000000,-4.601914,0.032604,0.140370,0.022315,20.000000,-5.865470,0.047452,0.523919,0.034808,20.000000,-3.348936,0.046091,0.276098,0.028026,20.000000,-3.786019,0.043832,0.318354,0.023545,20.000000,-3.048122,0.044814,0.321419,0.025284,20.000000,-4.673600,0.043947,0.294883,0.025072,20.000000,-3.243976,0.053382,0.245961,0.023228,-11.761054,0.078691,-2.162617,0.070795,-3.671333,0.069971,-8.907637,0.062069
25%,1.809690e+06,18.000000,4.000000,2010.000000,55.000000,4.086436,0.209938,2.364256,0.090063,29.000000,5.448634,0.393414,2.646907,0.087202,36.000000,2.760144,0.249794,2.312592,0.064641,39.000000,4.270745,0.259561,2.319130,0.056467,33.000000,3.088435,0.248924,2.350105,0.061159,40.000000,3.957895,0.264208,2.435359,0.059684,48.000000,4.511420,0.239968,2.335383,0.071795,-1.395188,0.449245,1.235966,0.352166,0.806862,0.359143,-0.841739,0.368993
50%,2.930660e+06,29.000000,5.000000,2012.000000,119.000000,5.516290,0.297787,2.632125,0.199901,47.000000,7.109251,0.566381,2.931653,0.161543,72.000000,4.094108,0.374391,2.548520,0.170269,74.000000,5.754171,0.369074,2.568287,0.196127,66.000000,4.460996,0.392104,2.581771,0.133317,77.000000,5.363899,0.374164,2.693530,0.206431,94.000000,5.926429,0.333248,2.597690,0.214290,-0.696619,0.616030,1.737742,0.494397,1.324775,0.505646,-0.362059,0.517464
75%,4.106300e+06,41.000000,7.000000,2013.000000,277.000000,7.023564,0.442947,2.871308,0.291724,97.000000,8.867107,0.704836,3.185928,0.362594,170.000000,5.464153,0.531483,2.761659,0.290041,159.000000,7.313653,0.512901,2.786792,0.304254,177.000000,5.917508,0.547441,2.782139,0.275318,165.000000,6.843756,0.525802,2.932164,0.315603,198.000000,7.388032,0.478172,2.832368,0.308645,0.031616,0.754158,2.286665,0.635476,1.909192,0.646582,0.092029,0.709931
max,5.606240e+06,56.000000,8.000000,2015.000000,76800.000000,16.319139,5.515627,12.365393,3.984298,12214.000000,22.275122,6.696728,13.276047,6.194471,22678.000000,12.196367,3.712929,7.592120,3.328277,37799.000000,19.613150,5.161969,9.241808,3.822171,38791.000000,14.036805,3.430580,11.769607,3.455248,39001.000000,16.457911,5.425874,15.550191,5.162379,11961.000000,16.436026,5.425280,12.746066,5.564293,11.477346,6.706546,12.346813,4.165020,12.860217,4.189879,5.253738,5.476070

In [97]:
desc_long_naep

,leaidC,fips,grade,year,totgyb_all,mn_all,sd_all,mn_all_se,sd_all_se,totgyb_asn,mn_asn,sd_asn,mn_asn_se,sd_asn_se,totgyb_blk,mn_blk,sd_blk,mn_blk_se,sd_blk_se,totgyb_fem,mn_fem,sd_fem,mn_fem_se,sd_fem_se,totgyb_hsp,mn_hsp,sd_hsp,mn_hsp_se,sd_hsp_se,totgyb_mal,mn_mal,sd_mal,mn_mal_se,sd_mal_se,totgyb_wht,mn_wht,sd_wht,mn_wht_se,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,825814.000000,825814.000000,825814.000000,825814.000000,85523.000000,85523.000000,85523.000000,85523.000000,85523.000000,183171.000000,183171.000000,183171.000000,183171.000000,183171.000000,684574.000000,684574.000000,684574.000000,684574.000000,684574.000000,222124.000000,222124.000000,222124.000000,222124.000000,222124.000000,695482.000000,695482.000000,695481.000000,695482.000000,695481.000000,733460.000000,733460.000000,733460.000000,733460.000000,733460.000000,84024.000000,84024.000000,164413.000000,164413.000000,196243.000000,196243.000000,658277.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,328.138101,245.368960,30.441846,3.896056,2.408928,122.689382,264.213928,34.154915,6.580929,2.920028,224.051460,228.758834,29.498467,4.592179,2.268489,188.532721,248.236700,29.727471,4.546764,2.357524,252.636262,233.040101,29.822799,4.694741,2.091986,194.725526,243.568544,31.207170,4.638087,2.459814,187.101831,250.108341,30.092436,4.251598,2.527643,-7.432532,7.195985,20.692708,5.805676,16.047852,5.936819,-4.591977,6.321583
std,1.457768e+06,14.573536,1.694571,1.959203,1166.280140,24.817281,5.184859,1.943400,1.575808,483.938421,30.265167,6.139830,2.941361,2.652629,719.344149,22.675072,4.759979,2.103669,1.726871,621.838991,24.501244,4.981161,2.008899,1.750996,1028.612933,24.205590,4.695493,2.192242,1.657325,641.398663,25.659113,5.151622,2.036027,1.794626,343.758678,23.724225,5.187088,1.928327,1.691867,14.264807,2.968751,9.994392,2.274177,10.275893,2.343023,8.664576,2.682754
min,1.000020e+05,1.000000,3.000000,2009.000000,20.000000,114.207150,1.565124,0.363533,0.248818,20.000000,99.107666,6.260830,0.529085,0.388104,20.000000,129.180240,3.078496,0.513911,0.312495,20.000000,123.957090,3.804324,0.488723,0.262531,20.000000,132.774960,3.840959,0.499679,0.281913,20.000000,113.350510,3.523853,0.490009,0.279553,20.000000,130.434510,2.742467,0.595205,0.258994,-131.135770,0.877401,-25.843262,0.789365,-43.132675,0.780175,-106.446230,0.692069
25%,1.809690e+06,18.000000,4.000000,2010.000000,55.000000,228.196378,26.897011,2.418443,1.045357,29.000000,243.636095,30.374425,4.555845,1.009118,36.000000,213.230470,26.277265,2.881899,0.750063,39.000000,230.850810,26.303948,2.984426,0.658222,33.000000,216.558828,26.641260,2.871456,0.709339,40.000000,226.164378,27.832592,3.044847,0.690271,48.000000,233.195263,26.554468,2.761761,0.845115,-16.002594,5.196248,14.246857,4.055663,9.267326,4.133933,-9.915894,4.248921
50%,2.930660e+06,29.000000,5.000000,2012.000000,119.000000,245.202560,30.546568,3.439700,2.302719,47.000000,263.100400,34.027737,6.535615,1.852622,72.000000,229.219020,29.588207,4.330511,1.956334,74.000000,247.870575,29.795918,4.273438,2.253879,66.000000,233.525605,29.929407,4.528833,1.539435,77.000000,243.450965,31.280672,4.330039,2.379953,94.000000,249.758835,30.130912,3.853269,2.465998,-8.062675,7.099240,20.054749,5.695394,15.276093,5.819227,-4.178528,5.982249
75%,4.106300e+06,41.000000,7.000000,2013.000000,277.000000,262.570257,33.708389,5.099976,3.374068,97.000000,283.998410,37.234781,8.154646,4.200429,170.000000,244.799475,32.436369,6.143965,3.353889,159.000000,265.586045,32.748504,5.934157,3.520308,177.000000,249.974620,32.783523,6.324978,3.174478,165.000000,260.939640,34.250454,6.079702,3.651237,198.000000,266.682310,33.246401,5.520764,3.572516,0.369026,8.755709,26.478058,7.353901,22.158958,7.486029,1.042725,8.203318
max,5.606240e+06,56.000000,8.000000,2015.000000,76800.000000,375.458440,147.766400,61.499256,44.424931,12214.000000,441.867650,148.027940,74.957466,69.068367,22678.000000,314.946560,90.725815,41.399170,37.110298,37799.000000,403.577090,103.046170,59.726406,42.617218,38791.000000,336.939790,140.646760,40.995419,41.290203,39001.000000,377.005740,185.824740,60.498508,61.690411,11961.000000,376.761720,142.118650,60.491882,62.041878,137.154270,75.212631,147.544370,49.771976,153.679550,50.069046,58.579193,61.058193

In [98]:
desc_long_state

,leaidC,fips,grade,year,totgyb_all,mn_all,mn_all_se,sd_all,sd_all_se,totgyb_asn,mn_asn,mn_asn_se,sd_asn,sd_asn_se,totgyb_blk,mn_blk,mn_blk_se,sd_blk,sd_blk_se,totgyb_fem,mn_fem,mn_fem_se,sd_fem,sd_fem_se,totgyb_hsp,mn_hsp,mn_hsp_se,sd_hsp,sd_hsp_se,totgyb_mal,mn_mal,mn_mal_se,sd_mal,sd_mal_se,totgyb_wht,mn_wht,mn_wht_se,sd_wht,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,825814.000000,825814.000000,825814.000000,825814.000000,85523.000000,85523.000000,85523.000000,85523.000000,85523.000000,183171.000000,183171.000000,183171.000000,183171.000000,183171.000000,684574.000000,684574.000000,684574.000000,684574.000000,684574.000000,222124.000000,222124.000000,222124.000000,222124.000000,222124.000000,695482.000000,695482.000000,695482.000000,695482.000000,695482.000000,733460.000000,733460.000000,733460.000000,733460.000000,733460.000000,84024.000000,84024.000000,164413.000000,164413.000000,196243.000000,196243.000000,658277.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,328.138101,0.002542,0.104061,0.903563,0.058912,122.689382,0.546172,0.179057,0.991131,0.073129,224.051460,-0.416928,0.122927,0.876999,0.054904,188.532721,0.074448,0.122631,0.884136,0.056920,252.636262,-0.269196,0.125265,0.878575,0.049756,194.725526,-0.046064,0.125405,0.923253,0.059939,187.101831,0.117388,0.114588,0.894707,0.062217,-0.211242,0.193768,0.574956,0.154768,0.440274,0.157980,-0.118976,0.170432
std,1.457768e+06,14.573536,1.694571,1.959203,1166.280140,0.340808,0.055142,0.104510,0.043337,483.938421,0.514938,0.082941,0.143650,0.072831,719.344149,0.293577,0.058248,0.095191,0.046300,621.838991,0.346849,0.055918,0.100978,0.047837,1028.612933,0.304211,0.061306,0.090309,0.044634,641.398663,0.358379,0.057043,0.105764,0.049724,343.758678,0.313677,0.053895,0.105318,0.046292,0.395980,0.083765,0.272143,0.062653,0.273554,0.064661,0.236719,0.074936
min,1.000020e+05,1.000000,3.000000,2009.000000,20.000000,-2.972786,0.000000,0.251772,0.000000,20.000000,-3.424887,0.009375,0.296857,0.000000,20.000000,-2.543317,0.006473,0.273550,0.000000,20.000000,-2.267843,0.005450,0.241442,0.000000,20.000000,-2.865522,0.004735,0.260732,0.000000,20.000000,-2.996269,0.005589,0.271963,0.000000,20.000000,-2.067944,0.009274,0.234255,0.000931,-3.296746,0.013204,-0.725045,0.011832,-1.232592,0.010999,-2.865083,0.007852
25%,1.809690e+06,18.000000,4.000000,2010.000000,55.000000,-0.207796,0.062064,0.849491,0.021279,29.000000,0.231252,0.121399,0.918437,0.020539,36.000000,-0.605537,0.075641,0.828387,0.011884,39.000000,-0.146036,0.079300,0.834420,0.007461,33.000000,-0.462688,0.074431,0.834968,0.011567,40.000000,-0.271505,0.080938,0.874693,0.007964,48.000000,-0.087016,0.072802,0.840141,0.012467,-0.449114,0.136788,0.399927,0.106693,0.261600,0.108277,-0.264603,0.112766
50%,2.930660e+06,29.000000,5.000000,2012.000000,119.000000,0.001459,0.092435,0.901879,0.058466,47.000000,0.555609,0.179640,0.971996,0.046141,72.000000,-0.421108,0.116818,0.875378,0.049883,74.000000,0.072006,0.115517,0.881488,0.057254,66.000000,-0.271911,0.122768,0.877271,0.036715,77.000000,-0.048812,0.117158,0.918794,0.060546,94.000000,0.107434,0.104059,0.890530,0.062912,-0.223538,0.193591,0.561625,0.154936,0.426218,0.158134,-0.115990,0.162392
75%,4.106300e+06,41.000000,7.000000,2013.000000,277.000000,0.212722,0.142700,0.954235,0.086205,97.000000,0.874363,0.223434,1.045130,0.107019,170.000000,-0.230172,0.168060,0.921897,0.085082,159.000000,0.292048,0.163121,0.929520,0.089491,177.000000,-0.077905,0.173768,0.917956,0.080894,165.000000,0.177485,0.167477,0.968540,0.093492,198.000000,0.312981,0.152790,0.942207,0.091296,0.009888,0.237183,0.734980,0.199944,0.606908,0.203931,0.030581,0.226233
max,5.606240e+06,56.000000,8.000000,2015.000000,76800.000000,3.656457,1.760634,3.719599,1.343618,12214.000000,4.114595,1.951427,3.776745,1.751017,22678.000000,1.738854,1.169030,2.518226,1.123573,37799.000000,3.609545,1.605439,3.055364,1.159092,38791.000000,2.595148,1.048159,3.541179,1.032290,39001.000000,2.769604,1.614429,4.673878,1.544591,11961.000000,3.768618,1.937438,3.484186,1.510977,3.608001,1.957712,3.787224,1.280200,3.944704,1.283340,1.713544,1.628925

In [99]:
desc_pool_cs

,leaidC,fips,gap_est,tot_asmts,cellcount,mn_asmts,mn_avg_ol,mn_grd_ol,mn_mth_ol,mn_avg_eb,mn_grd_eb,mn_mth_eb,mn_avg_eb_se,mn_grd_eb_se,mn_mth_eb_se,mn_avg_ol_se,mn_grd_ol_se,mn_mth_ol_se,sd_avg_ol,sd_grd_ol,sd_mth_ol,sd_avg_eb,sd_grd_eb,sd_mth_eb,sd_avg_eb_se,sd_grd_eb_se,sd_mth_eb_se,sd_avg_ol_se,sd_grd_ol_se,sd_mth_ol_se
count,7.214700e+04,72147.000000,72147.000000,7.214700e+04,72147.000000,72147.000000,67235.000000,49956.000000,60872.000000,67242.000000,49956.000000,60872.000000,67242.000000,49956.000000,60872.000000,67235.000000,49956.000000,60872.000000,50458.000000,37565.000000,46960.000000,50458.000000,37565.000000,46960.000000,50458.000000,37565.000000,46960.000000,50458.000000,37565.000000,46960.000000
mean,2.932015e+06,29.187506,0.257585,1.866353e+04,62.831511,269.174043,0.049678,-0.006932,0.017771,0.049536,-0.006929,0.017796,0.025079,0.014581,0.037474,0.028555,0.016093,0.041431,0.865058,-0.003462,-0.019809,0.864829,-0.003512,-0.020047,0.007739,0.004317,0.012381,0.008350,0.004867,0.013663
std,1.520158e+06,15.201987,0.437307,6.298952e+04,24.394492,907.378454,0.369447,0.046488,0.167213,0.364393,0.040103,0.156233,0.014751,0.003376,0.009806,0.025651,0.004545,0.013068,0.063459,0.013257,0.044403,0.061278,0.010821,0.038944,0.003717,0.001422,0.004771,0.004879,0.001889,0.005992
min,1.000020e+05,1.000000,0.000000,2.000000e+01,1.000000,20.000000,-1.841032,-0.389979,-0.749475,-1.690200,-0.279810,-0.679975,0.004379,0.004757,0.008545,0.004398,0.004841,0.008633,0.625352,-0.095699,-0.222643,0.636588,-0.079389,-0.168573,0.002448,0.001912,0.004819,0.002450,0.001940,0.004869
25%,1.734045e+06,17.000000,0.000000,2.408000e+03,56.000000,41.000000,-0.172902,-0.035998,-0.100292,-0.168033,-0.032037,-0.093153,0.016375,0.011994,0.030515,0.016478,0.012583,0.031945,0.825000,-0.011145,-0.051629,0.825744,-0.010255,-0.048239,0.004447,0.002956,0.007802,0.004493,0.003076,0.008000
50%,2.926850e+06,29.000000,0.000000,6.301000e+03,72.000000,92.738098,0.007239,-0.006866,0.013402,0.003202,-0.006770,0.011162,0.020405,0.013999,0.035813,0.020713,0.015057,0.038357,0.857771,-0.004035,-0.022158,0.857518,-0.004011,-0.022548,0.007283,0.004331,0.012205,0.007502,0.004711,0.012977
75%,4.108770e+06,41.000000,1.000000,1.622100e+04,82.000000,235.928570,0.281770,0.022449,0.142542,0.280777,0.018468,0.138895,0.027379,0.016665,0.043077,0.028598,0.018717,0.048406,0.897884,0.004283,0.008066,0.896905,0.003049,0.004354,0.010421,0.005605,0.016512,0.010947,0.006528,0.018622
max,5.606240e+06,56.000000,1.000000,4.685211e+06,84.000000,70988.047000,1.907693,0.337531,0.839080,1.755396,0.226243,0.745145,0.131102,0.024750,0.071296,0.225080,0.029539,0.082737,1.546541,0.076853,0.260459,1.497011,0.055841,0.215035,0.026108,0.007466,0.022549,0.039520,0.008347,0.026024

In [100]:
desc_poolsub_cs

,leaidC,fips,gap_est,tot_asmts_ela,tot_asmts_mth,cellcount_ela,cellcount_mth,mn_asmts_ela,mn_asmts_mth,mn_avg_mth_ol,mn_avg_ela_ol,mn_grd_mth_ol,mn_grd_ela_ol,mn_avg_mth_eb,mn_avg_ela_eb,mn_grd_mth_eb,mn_grd_ela_eb,mn_avg_mth_eb_se,mn_avg_ela_eb_se,mn_grd_mth_eb_se,mn_grd_ela_eb_se,mn_avg_mth_ol_se,mn_grd_mth_ol_se,mn_avg_ela_ol_se,mn_grd_ela_ol_se,sd_avg_mth_ol,sd_avg_ela_ol,sd_grd_mth_ol,sd_grd_ela_ol,sd_avg_mth_eb,sd_avg_ela_eb,sd_grd_mth_eb,sd_grd_ela_eb,sd_avg_mth_eb_se,sd_avg_ela_eb_se,sd_grd_mth_eb_se,sd_grd_ela_eb_se,sd_avg_mth_ol_se,sd_grd_mth_ol_se,sd_avg_ela_ol_se,sd_grd_ela_ol_se
count,7.214700e+04,72147.000000,72147.000000,7.204200e+04,7.184800e+04,72042.000000,71848.000000,72042.000000,71848.000000,66342.000000,66431.000000,46268.000000,39706.000000,66540.000000,66586.000000,46585.000000,39929.000000,66540.000000,66586.000000,46585.000000,39929.000000,66342.000000,46268.000000,66431.000000,39706.000000,42231.000000,41842.000000,9987.000000,5949.000000,42295.000000,41912.000000,9994.000000,5957.000000,42295.000000,41912.000000,9994.000000,5957.000000,42231.000000,9987.000000,41842.000000,5949.000000
mean,2.932015e+06,29.187506,0.257585,9.754440e+03,8.960421e+03,32.374879,30.630693,269.390770,269.704605,0.059146,0.041812,-0.008441,-0.005112,0.058966,0.041122,-0.008556,-0.005266,0.032353,0.031137,0.018063,0.015136,0.039907,0.021972,0.037100,0.019291,0.847114,0.869128,-0.003540,-0.001453,0.847017,0.867190,-0.003825,-0.001660,0.017525,0.016753,0.007238,0.005790,0.020586,0.008425,0.019770,0.006931
std,1.520158e+06,15.201987,0.437307,3.322655e+04,3.008000e+04,12.340548,12.272864,906.428482,910.487181,0.379982,0.377123,0.056426,0.043583,0.372265,0.370975,0.047500,0.035819,0.015806,0.014853,0.003873,0.002451,0.032141,0.005625,0.027989,0.003784,0.077314,0.068436,0.020591,0.016235,0.072864,0.063948,0.016952,0.013096,0.006170,0.005743,0.001142,0.000812,0.008737,0.001581,0.008080,0.001148
min,1.000020e+05,1.000000,0.000000,2.000000e+01,2.000000e+01,1.000000,1.000000,20.000000,20.000000,-1.855213,-5.159541,-0.350875,-0.324992,-1.676959,-1.851148,-0.314171,-0.253082,0.005857,0.005965,0.004775,0.005118,0.006052,0.006359,0.006054,0.006579,0.581514,0.619851,-0.123878,-0.093235,0.603128,0.629000,-0.102827,-0.070709,0.003719,0.003836,0.003141,0.003065,0.003735,0.003213,0.003861,0.003183
25%,1.734045e+06,17.000000,0.000000,1.243000e+03,1.173000e+03,29.000000,25.000000,41.000000,41.151516,-0.159971,-0.224729,-0.044345,-0.032920,-0.150619,-0.224407,-0.038295,-0.027976,0.022331,0.021663,0.015292,0.013484,0.023087,0.017610,0.022285,0.016276,0.797970,0.826666,-0.016419,-0.012519,0.800942,0.827259,-0.014827,-0.010598,0.012843,0.012392,0.006516,0.005256,0.013801,0.007312,0.013340,0.006095
50%,2.926850e+06,29.000000,0.000000,3.245000e+03,3.061000e+03,36.000000,35.000000,92.857140,93.047623,0.033562,0.014001,-0.008844,-0.004648,0.028197,0.012438,-0.008429,-0.005061,0.027569,0.026806,0.017619,0.015060,0.029216,0.020903,0.028245,0.018917,0.839369,0.866312,-0.003003,-0.001746,0.838534,0.862899,-0.003446,-0.002106,0.016881,0.016394,0.007442,0.005896,0.018949,0.008669,0.018577,0.007095
75%,4.108770e+06,41.000000,1.000000,8.347000e+03,7.846250e+03,42.000000,41.000000,236.472923,236.694332,0.288862,0.286326,0.026452,0.023193,0.283986,0.285372,0.020850,0.018064,0.036257,0.034893,0.020716,0.016877,0.041123,0.025632,0.038840,0.022212,0.888221,0.905930,0.010256,0.009464,0.885658,0.900190,0.007570,0.007158,0.021863,0.020956,0.008134,0.006374,0.026312,0.009762,0.025607,0.007908
max,5.606240e+06,56.000000,1.000000,2.331930e+06,2.353281e+06,42.000000,42.000000,70664.547000,71311.547000,1.968772,2.159821,0.312431,0.195485,1.948141,1.905320,0.225116,0.145515,0.134209,0.129593,0.028179,0.041197,0.235657,0.036310,0.221998,0.027010,1.499948,1.448203,0.110439,0.061084,1.500400,1.260458,0.086265,0.049524,0.065063,0.066536,0.019595,0.015689,0.043734,0.010723,0.039204,0.008605

# Trying to make sense of the data

## NAEP

In [107]:
desc_long_naep

,leaidC,fips,grade,year,totgyb_all,mn_all,sd_all,mn_all_se,sd_all_se,totgyb_asn,mn_asn,sd_asn,mn_asn_se,sd_asn_se,totgyb_blk,mn_blk,sd_blk,mn_blk_se,sd_blk_se,totgyb_fem,mn_fem,sd_fem,mn_fem_se,sd_fem_se,totgyb_hsp,mn_hsp,sd_hsp,mn_hsp_se,sd_hsp_se,totgyb_mal,mn_mal,sd_mal,mn_mal_se,sd_mal_se,totgyb_wht,mn_wht,sd_wht,mn_wht_se,sd_wht_se,mn_wag,mn_wag_se,mn_wbg,mn_wbg_se,mn_whg,mn_whg_se,mn_mfg,mn_mfg_se
count,8.258160e+05,825816.000000,825816.000000,825816.000000,825814.000000,825814.000000,825814.000000,825814.000000,825814.000000,85523.000000,85523.000000,85523.000000,85523.000000,85523.000000,183171.000000,183171.000000,183171.000000,183171.000000,183171.000000,684574.000000,684574.000000,684574.000000,684574.000000,684574.000000,222124.000000,222124.000000,222124.000000,222124.000000,222124.000000,695482.000000,695482.000000,695481.000000,695482.000000,695481.000000,733460.000000,733460.000000,733460.000000,733460.000000,733460.000000,84024.000000,84024.000000,164413.000000,164413.000000,196243.000000,196243.000000,658277.000000,658277.000000
mean,3.003463e+06,29.903256,5.439089,2011.844344,328.138101,245.368960,30.441846,3.896056,2.408928,122.689382,264.213928,34.154915,6.580929,2.920028,224.051460,228.758834,29.498467,4.592179,2.268489,188.532721,248.236700,29.727471,4.546764,2.357524,252.636262,233.040101,29.822799,4.694741,2.091986,194.725526,243.568544,31.207170,4.638087,2.459814,187.101831,250.108341,30.092436,4.251598,2.527643,-7.432532,7.195985,20.692708,5.805676,16.047852,5.936819,-4.591977,6.321583
std,1.457768e+06,14.573536,1.694571,1.959203,1166.280140,24.817281,5.184859,1.943400,1.575808,483.938421,30.265167,6.139830,2.941361,2.652629,719.344149,22.675072,4.759979,2.103669,1.726871,621.838991,24.501244,4.981161,2.008899,1.750996,1028.612933,24.205590,4.695493,2.192242,1.657325,641.398663,25.659113,5.151622,2.036027,1.794626,343.758678,23.724225,5.187088,1.928327,1.691867,14.264807,2.968751,9.994392,2.274177,10.275893,2.343023,8.664576,2.682754
min,1.000020e+05,1.000000,3.000000,2009.000000,20.000000,114.207150,1.565124,0.363533,0.248818,20.000000,99.107666,6.260830,0.529085,0.388104,20.000000,129.180240,3.078496,0.513911,0.312495,20.000000,123.957090,3.804324,0.488723,0.262531,20.000000,132.774960,3.840959,0.499679,0.281913,20.000000,113.350510,3.523853,0.490009,0.279553,20.000000,130.434510,2.742467,0.595205,0.258994,-131.135770,0.877401,-25.843262,0.789365,-43.132675,0.780175,-106.446230,0.692069
25%,1.809690e+06,18.000000,4.000000,2010.000000,55.000000,228.196378,26.897011,2.418443,1.045357,29.000000,243.636095,30.374425,4.555845,1.009118,36.000000,213.230470,26.277265,2.881899,0.750063,39.000000,230.850810,26.303948,2.984426,0.658222,33.000000,216.558828,26.641260,2.871456,0.709339,40.000000,226.164378,27.832592,3.044847,0.690271,48.000000,233.195263,26.554468,2.761761,0.845115,-16.002594,5.196248,14.246857,4.055663,9.267326,4.133933,-9.915894,4.248921
50%,2.930660e+06,29.000000,5.000000,2012.000000,119.000000,245.202560,30.546568,3.439700,2.302719,47.000000,263.100400,34.027737,6.535615,1.852622,72.000000,229.219020,29.588207,4.330511,1.956334,74.000000,247.870575,29.795918,4.273438,2.253879,66.000000,233.525605,29.929407,4.528833,1.539435,77.000000,243.450965,31.280672,4.330039,2.379953,94.000000,249.758835,30.130912,3.853269,2.465998,-8.062675,7.099240,20.054749,5.695394,15.276093,5.819227,-4.178528,5.982249
75%,4.106300e+06,41.000000,7.000000,2013.000000,277.000000,262.570257,33.708389,5.099976,3.374068,97.000000,283.998410,37.234781,8.154646,4.200429,170.000000,244.799475,32.436369,6.143965,3.353889,159.000000,265.586045,32.748504,5.934157,3.520308,177.000000,249.974620,32.783523,6.324978,3.174478,165.000000,260.939640,34.250454,6.079702,3.651237,198.000000,266.682310,33.246401,5.520764,3.572516,0.369026,8.755709,26.478058,7.353901,22.158958,7.486029,1.042725,8.203318
max,5.606240e+06,56.000000,8.000000,2015.000000,76800.000000,375.458440,147.766400,61.499256,44.424931,12214.000000,441.867650,148.027940,74.957466,69.068367,22678.000000,314.946560,90.725815,41.399170,37.110298,37799.000000,403.577090,103.046170,59.726406,42.617218,38791.000000,336.939790,140.646760,40.995419,41.290203,39001.000000,377.005740,185.824740,60.498508,61.690411,11961.000000,376.761720,142.118650,60.491882,62.041878,137.154270,75.212631,147.544370,49.771976,153.679550,50.069046,58.579193,61.058193

The NAEP score is derived from the [National Assessment of Educational Progress](https://nces.ed.gov/nationsreportcard/ "NAEP Nations Report Card"). The test is on a 0-500 scale, which we can see reflected in the means of all the schools *(mn_all)*.

In [111]:
print(f'Minimum AVERAGE score for all schools: {desc_long_naep.loc["min","mn_all"]}')
print(f'Maximum AVERAGE score for all schools: {desc_long_naep.loc["max","mn_all"]}')

Minimum AVERAGE score for all schools: 114.20715
Maximum AVERAGE score for all schools: 375.45844

The above shows that the AVERAGE maximum score for any school is 375.5. This isn't to say that the highest score that a student received on the test is that number. Rather, that school could've had someone score the full 500 and another student who scored in the double digits. This is important to keep in mind while parsing through the data.

The other measures use various statistical techniques (HETOP and HOMOP, for example) to derive their normalized values, which I did not want to dig much deeper into. I believe using the NAEP score should be sufficient for the purposes of this data analysis.

Another interesting story comes from the "gaps" (disparity in average scores between sub-groups within a year/class/subject)

In [112]:
# Columns which contain values for the gaps between scores of:
# White v Asian students
#       v Black students
#       v Hispanic students
# Male v Female students

gap_cols= ["mn_wag","mn_wbg","mn_whg","mn_mfg"]

desc_long_naep.loc[:,gap_cols]

             mn_wag         mn_wbg         mn_whg         mn_mfg
count  84024.000000  164413.000000  196243.000000  658277.000000
mean      -7.432532      20.692708      16.047852      -4.591977
std       14.264807       9.994392      10.275893       8.664576
min     -131.135770     -25.843262     -43.132675    -106.446230
25%      -16.002594      14.246857       9.267326      -9.915894
50%       -8.062675      20.054749      15.276093      -4.178528
75%        0.369026      26.478058      22.158958       1.042725
max      137.154270     147.544370     153.679550      58.579193

Looking at the min and max from the *mn_wag* column, it looks like there is a vast disparity between the scores of White students and Asian students (min: -131.1, max: 137.2). In fact, this suggests the opposite.

These scores are derived by subtracting the first subgroup ("W") from the second ("A"). So it appears that in at least one school, Asian student scores are __on average higher__ than their White peers by 131 points. The converse is true given the max value as well.

Armed with this information, we can see that there does indeed appear to be a disparity between White and Black students' as well as White and Hispanic students' scores. The same holds for Male v Female scores, with the disparity favoring Female students.